* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
ol, ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.warp {
    width: 960px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.headwrap {
    width: 100%;
    height: 241px;
    background: rgba(226, 249, 186, 0.5);
    margin-bottom: 6px;
}
.head {
    height: 206px;
    position: relative;
}
.head img {
    top: 22px;
    position: absolute;
    left: 10px;
}
.headulist {
    width: 600px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 124px;
}
.headulist > li {
    display: inline-block;
}
.headulist > li:hover {
    background: #add047;
    border-radius: 5%;
    position: relative;
}
.headulist > li:hover > .second_level {
    display: block;
}
.headulist > li > a {
    color: #678748;
    width: 95px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}
.head_input {
    width: 190px;
    height: 20px;
    position: absolute;
    right: 125px;
    top: 54px;
    color:#424242;
}
.head p {
    position: absolute;
    right: 24px;
    color: #678748;
    top: 54px;
    cursor: pointer;
}
.second_level {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    width: 95px;
    height: 69px;
}
.second_level > li > a:hover {
    border: 1px solid #678748;
}
.second_level > li > a {
    display: block;
    height: 23px;
    width: 95px;
    line-height: 23px;
    text-align: center;
    color: #ccc;
}
.ditem input {
    width: 350px;
    height: 30px;
}
.ditem a {
    width: 354px;
    height: 30px;
    display: block;
    color: #ccc;
    background: rgba(226, 249, 186, 0.5);
    text-align: center;
    line-height: 30px;
}
.ditem {
    margin-top: 20px;
    margin-left: 20px;
}
#dloginbox {
    display: none;
}
.banner {
    width: 1425px;
    height: 466px;
    margin: 0 auto;
}
.content {
    height: 1050px;
}
.content .contentbox {
    width: 234px;
    height: 494px;
    margin-right: 5px;
    float: left;
    margin-top: 15px;
}
.content .contentbox .contentlittle {
    width: 88px;
    height: 30px;
    background: #cdf591;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border: 1px solid #000;
    margin: 15px 67px;
}
.content .contentbox img {
    margin-left: 7px;
}
.content .contentbox p {
    margin: 5px 14px;
}
.content .contentbox .p1 {
    color: #cae7ad;
    margin-left: 20px;
}
.content .contentbox .p3 {
    font-size: 20px;
    color: #000;
    margin-left: 37px;
}
.content .contentbox .p4 {
    margin-left: 62px;
    font-weight: bold;
}
.content .contentbox .p5 a {
    width: 161px;
    height: 40px;
    background: #a2d072;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    margin-left: 17px;
    color: #fff;
    display: inline-block;
}
.content .contentbox .p6 a {
    width: 163px;
    height: 20px;
    background: #909688;
    text-align: center;
    line-height: 20px;
    border: 1px solid #fff;
    margin-left: 17px;
    color: #fff;
    display: inline-block;
}
.car {
    width: 50px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 220px;
}
.car span {
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    background: #f40;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 259px;
    right: 34px;
}
.msg{
    width:150px;
    height:50px;
    position:fixed;
    bottom:284px;
    right:-2px;
    background:#c4e6a0;
    display:none;
}
.msg p{
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
}
.footer {
    width: 1920px;
    height: 150px;
    margin: 0 auto;
    background: #4a6022;
    display: inline-block;
    // margin-top:20px;
}
.footer h3 {
    margin-top: 60px;
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}
.footer p {
    color: #fff;
    display: inline-block;
    margin-left: 1200px;
}
.advisebox {
    width: 235px;
    height: 200px;
    border: 1px solid #ccc;
    position: fixed;
    bottom: -200px;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
}
.advise1 {
    width: 235px;
    height: 50px;
    background: #ccc;
    position: relative;
}
.advise1_p {
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 5%;
}
.advise1_p1 {
    position: absolute;
    right: 5%;
    line-height: 50px;
    cursor: pointer;
}
.advise {
    width: 235px;
    height: 250px;
    background: #fff;
}
.advise p {
    padding: 20px 0 0 10px;
}